<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recreation | Timeit!</title>
</head>

<body>
    <h1>Learn, Relax, Enjoy!</h1>
    <h2>💭 Thought of the day 💭</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, iusto!</h3>
    <h2>❓ Fact of the day ❓</h2>
    <h3></h3>
    <h2>🧠 Study tip of the day 🧠</h2>
    <h3></h3>
    <h2>😂 Stand-up of the day 😂</h2>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
</body>

</html>