@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@600&display=swap");

<<<<<<< HEAD:static/css/_utilities.scss
$light: rgb(224, 224, 224);
$dark: rgb(46, 46, 46);
=======
$light: #ebebeb;
$dark: #272727;
>>>>>>> f5bc6679de6fa8b6ba61e9b04ccb18f3c2a13689:static/css/utilities.scss

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin btn($clr, $bg-clr, $fnt) {
	color: $clr;
	background: $bg-clr;
	font-family: "Open Sans", sans-serif;
	font-size: $fnt;
	padding: 0.35em 0.9em;
	border: none;
	box-shadow: 0 2px 4px 1px rgba(black, 0.15);
	border-radius: 0.5em;

	&:hover {
		cursor: pointer;
		filter: brightness(1.1);
	}

	&:active {
		transform: scale(97%);
	}
}
